<?xml version="1.0"?>
<configuration>
  <appSettings>
    
    <!-- Default account connection string, or use commandline option -a -->
    <add key="AccountConnectionString" value="UseDevelopmentStorage=true"/>

    <!-- These keys are for calculating reasonable timeout values. Speed is in Mbit/s -->
    <add key="DownloadSpeed" value="2"/>
    <add key="UploadSpeed" value="0.5"/>
    
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
